* {
	margin: 0;
	padding: 0;
}
.container {
	margin: 50px auto;
	width: 400px;
	text-align: center;
}
.sub-container {
	padding: 5px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-top: 50px;
}
.title {
	padding-bottom: 5px;
	text-align: center;
}
.item {
	padding: 10px 0;
	text-align: center;
	display: flex;
	width: 100%;
	align-items: center;
}
.item img {
	margin-left: 4px;
	height: 18px;
	width: 18px;
}
.item-name {
	flex: 0 0 30%;
	color: #333;
}
.item-input {
	flex: 0 0 60%;
	padding: 5px;
	outline: none;
	border: 1px solid #999;
}
.submit {
	text-align: center;
	margin: 20px 0 10px 0;

}
.submit-btn {
	width: 140px;
	height: 36px;
	line-height: 18px;
	font-size: 18px;
	/*background: url("bg26.jpg") no-repeat left top;*/
	color: #333;
	padding-bottom: 4px;
}

/* result部分css */
.result-title {
	padding: 10px;
}
.username {
	font-weight: 700;
	color: red;
}
.detail-container {
	margin: 20px 0 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.detail {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	/*background: url("bg26.jpg") no-repeat left top;*/
	color: #333;
	padding: 4px 6px;
	border: 1px solid #999;
	border-radius: 5px;
}
.detail a {
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

/* showList的css部分 */
.table-title {
	padding: 5px 0;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #999;
	font-weight: 700;
}
.table-content {
	padding: 5px 0;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #999;
}
.title-item, .table-item {
	width: 100px;
	padding: 5px 0;
}
.table-content:nth-last-child(1) {
	border: none;
	padding: 0;
}